
<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{#     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
</head>
<body>

	<div  class="container">
	<form method="POST" class="viewform" action={% url 'Exam_portal:admin' %}>
		{% csrf_token %}
        <div class="from-group">



		<div class="category">
			<select name="category" id="category_list" >
			<option selected="selected" ></option>
			{% for i in category %}

			<option value="{{ i.category }}">{{ i.category }}</option>

			{% endfor %}
            </select>
		</div>
		<div>--OR--</div><br>
		<button class="btn" id="new_category">New Category</button>

		<div class="question_section">
            <div class="jumbotron">
			{{ form.question.label }} {{ form.question }}
			</div>
					<div id="choice_section" class="container-fluid">
					<input type="text" name='choice1' placeHolder="Option1" required><span><input type='radio' name='correct_choice' value="1" required/></span><br>
					<input type="text" name='choice2' placeHolder="Option2" required><span><input type='radio' name='correct_choice' value="2" required/></span><br>
					<input type="text" name='choice3' placeHolder="Option3" required><span><input type='radio' name='correct_choice' value="3" required/></span><br>
					<input type="text" name='choice4' placeHolder="Option4" required><span><input type='radio' name='correct_choice' value="4" required/></span><br>
				</div>
			{{ form.marks.label }} {{ form.marks }}<br>
			{{ form.negative.label }} {{form.negative }}
            <div id="negative_marks">
			{{ form.negative_marks.label }} {{ form.negative_marks }}<br>
            </div>
		</div>

        <label for="time"><input type="text" name="time" placeholder="format = hh:mm:ss"/></label>

		<div class="button_group">
			<button  type="submit" class="btn" >Add another</button> <button class="btn"> Finish</button>
		</div>
        </div>
	<form>
	</div>
</body>
<html>
