<!DOCTYPE html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {#     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

    <script src="{% static 'material/js/jquery-2.2.0.js' %}">

    </script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SI recruitment - Admin panel</a>
        </div>

    </div>
</nav>
{% csrf_token %}

{% if user.is_authenticated %}
<div class="container">
    <a class="btn btn-link" href="../adminLogout" style="float:right">logout</a>
</div>
{% endif %}


{% block content %}{% endblock %}
{% block question %}{% endblock %}
{% block interface %}{% endblock %}
{% block time %}{% endblock %}
{% block student %}{% endblock %}
{% block admin %} {% endblock %}
{% block endadmin %}{% endblock %}

<div class="container">
    {% if messages %}
        {% if not error %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <span><Strong>Error! </Strong> {{ message }}</span>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                    <span> {{ message }}</span>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>

</body>
<html>
