{% extends 'Exam_portal/base.html' %}


{% block ajax %}
    <form>
    {% csrf_token %}
    <div class="container" style="padding-top: 3%;">


    <div class="container" style="width: 100%;">

        <div class="container-fluid" id="grid">

            <div class="chip" style="float: right;">
                Time left :<label id="time" style="font-size: larger;"></label>
            </div>


        <ul>
        {% for key in keys %}
            <li  class="btn-floating btn-large" style="background-color: #D5E7EA;color: #000;" id="{{ key }}">{{ forloop.counter }}</li>
        {% endfor %}
        </ul>
        </div>

        <ul class="collection">

            <li class="collection-item" id="question" style="font-size: large;">{{ instance.question }}</li>
            <div class="container-fluid" id="choices" style="padding:2%;">

            {% for q in instance.choice %}
                <li class="collection=item">
                <input name="choice" type="radio" id="test{{ forloop.counter }}" value="{{ q }}"/>
                <label style="color:black;font-style: normal;" for="test{{ forloop.counter }}" id="q{{ forloop.counter }}">{{ q }}</label></li>
            {% endfor %}
            </div>
        </ul>

        <button  class="btn {{ request.session.current }}" type="submit"  id="next" style="float:right">Next</button>
        <button  class="btn" type="submit" id="previous" style="float:left">Previous</button>




    </div>
    </div>
    </form>




{% endblock ajax %}
