{% extends 'Exam_portal/base.html' %}


{% block ajax %}
    <form>
    {% csrf_token %}
    <div class="container" style="padding-top: 3%;">


    <input type="radio" id="timeStarter" style="display: none;" name="timeStarter" checked="checked" value="true">
    <div class="container" style="width: 100%;">


        <div class="chip " style="float: right;">
            Time left :<label id="time" style="font-size: larger;"></label>

        </div>

        <div class="container-fluid" id="grid">
                    <div class="col-sm-4" style="float:left;">
                        <ul>
                        {% for key in keys %}
                            <li  class="btn-floating btn-large" style="background-color: #D5E7EA;color: #000;" id="{{ key }}">{{ forloop.counter }}</li>
                        {% endfor %}
                        </ul>
                     </div>
        </div>
        <div class="col-sm-8 container" style="float:right;" id="category">
                <ul>
                    {% for category_question_id,category in instance.category %}
                        <li style="display: inline;padding: 2%;" id="{{ category_question_id }}">{{ category }}</li>
                    {% endfor %}
                </ul>
        </div>


        <div class="col-sm-8" style="float:right;">    
        <ul class="collection">



            <li class="collection-item" id="question" style="font-size:large;"><span id ="question_no">{{ instance.question_no }}. </span>{{ instance.question }}</li>
            <div class="container-fluid" id="choices" style="padding:2%;">

            {% for choice,id in instance.choice_data %}

                <li class="collection=item" id="{{ id }}">
                <input name="choice" type="radio" id="test{{ forloop.counter }}" value="{{ id }}" />
                <label style="color:black;font-style: normal;" for="test{{ forloop.counter }}" id="q{{ forloop.counter }}">{{ choice }}</label>
                </li>

            {% endfor %}

            <!-- {{ instance.choice_data }} -->


            <!-- {% for q in instance.choice %}
                <li class="collection=item">
                <input name="choice" type="radio" id="test{{ forloop.counter }}" value="{{ q }}"/>{{ instance.choice_id. }}
                <label style="color:black;font-style: normal;" for="test{{ forloop.counter }}" id="q{{ forloop.counter }}">{{ q }}</label></li>
            {% endfor %} -->
            </div>
        </ul>
        
        <button  class="btn {{ request.session.current }}" type="submit"  id="next" style="float:right">Next</button>
        <button  class="btn" type="submit" id="previous" style="float:left">Previous</button>
        <button  class="btn" type="submit" id="mark" style="float:left;background:#EE6E73;float:right;margin-right:5px;">Review and Next</button>
        
        </div>




    </div>
    </div
    </form>




{% endblock ajax %}
