{% extends 'Exam_portal/base.html' %}


{% block content %}
<div class="container" style="padding-top: 4%;">
    <div class="jumbotron" style="padding-top:2%;" >
    <h2 >Registration</h2>

    {% csrf_token %}
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">

                  {{ form.Name }}
                  <label for="icon_prefix">{{ form.Name.label }}</label>
                </div>
                <div class="input-field col s6">

                  {{ form.Contact }}
                  <label for="icon_telephone">{{ form.Contact.label }}</label>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  {{ form.Email }}
                  <label for="email" data-error="wrong" data-success="right">{{ form.Email.label }}</label>
                </div>
              </div>
            </form>
          </div>

    </div>
</div>
{% endblock content %}
